[user]
	name = XXXXXX
	emailaddress = XXXXX@gmail.com

[alias]
	lg = log  --graph --pretty=format:'%C(auto)%h %C(dim green)[C]:%<(15,trunc)%cn %C(bold magenta)[A]:%<(15,trunc)%an %C(bold white)%<(55,mtrunc)%s  %C(bold)%cD (%cr) %d' --date=iso -25 